 <div class="user-details">
  <h1> Know about your Editor-in-Chief </h1>
  <p> {{site.user_description}} </p>
  <p>
    <i class="icon fab fa-discord"><i class="icon fa fa-chevron-right">ΔΨφ#4993</i></i>
  </p>
</div>
<div><h2>Projects and Education</h2></div>
  <div class="user">
    <div class="tech">
      <h3>Pegasus</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-travis-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>
        An advanced discord bot featuring Music, Moderation and other commands like ...
      </p>
    </div>
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-github-original"></i>
      <i class="devicon-github-plain-wordmark"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-github-original-wordmark"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>some description</p>
    </div>
    <div class="tech">
      <h3>Tools</h3>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>some description</p>
    </div>
</div>
