<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://kit.fontawesome.com/b50a5905e2.js" crossorigin="anonymous"></script>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="deltapsifi@outlook.com" href="mailto:deltapsifi@outlook.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/deltapsifi"><i class="icon fab fa-github"  aria-hidden="False"></i></a>
        <a aria-label="My Discord Server" target="_blank" href="https://discord.gg/c2Zee55e83"><i class="icon fab fa-discord" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!--thinking of removing this-->
      <!--  <a class="link" href="#about" data-scroll>About Me</a> -->
        <a class="link" href="#projects" data-scroll>Recommended Articles</a>
        <a class="link" href="/blog.html">Blog</a>
      </div>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>