<div class="user-details">
  <h1> Featured Projects {{ len(site.posts) }}</h1>
  {% for post in site.posts %}
    {% if len(site.posts) == 1 %}
    <div class="user-projects">
      <div class="images-right">
        <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents">
        <h3> {{ post.title }} </h3>
        <p>
          {{ post.excerpt }}
        </p>
        <a class="project-link" href="{{ post.url }}">Check it out</a>
      </div>
    </div>
    {% else %}
      {% for i in len(site.posts) %}
        {% if i % 2 == 0 %}
        <div class="user-projects">
          <div class="images-right">
            <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
          </div>
          <div class="contents">
            <h3> {{ post.title }} </h3>
            <p>
              {{ post.excerpt }}
            </p>
            <a class="project-link" href="{{ post.url }}">Check it out</a>
          </div>
        </div>
        {% else %}
        <div class="user-projects">
          <div class="images-left">
            <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
          </div>
          <div class="contents">
            <h3> {{ post.title }} </h3>
            <p>
              {{ post.excerpt }}
            </p>
            <a class="project-link" href="{{ post.url }}">Check it out</a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% for post in site.posts %}
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> {{ post.title }} </h3>
      <p>
        {{ post.excerpt }}
      </p>
      <a class="project-link" href="{{ post.url }}">Check it out</a>
    </div>
  </div>
  {% endfor %}