<div class="user-details">
  <h1> Latest Posts </h1>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="/assets/img/mountains.jpg" />
    </div>
    <div class="contents">
      <h3> The Standard Model An Introduction </h3>
      <p>
        <p>“<strong>What is matter made of ?</strong>” was the question that was keeping our ancient Greek and Indian philosophers up at night, until the origin of atomic theory. This theory is said to have been introduced by philosophers Leucippus and Democritus in Greece (around 5th Century BC) and is also said to have origins in ancient India. Then with time both experimental and theoretical proof led to the speculation regarding the existence of atoms and molecules and in the late 19th Century atoms were finally defined.</p>
      </p>
      <a class="project-link" href="/2021-03-21-The-Standard-Model-An-Introduction.md/">Check it out</a>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="skate" src="/assets/img/skate.jpg" />
    </div>
    <div class="contents">
      <h3> Decoherence In Quantum Systems </h3>
      <p>
        <p>In Quantum Mechanics we define Quantum Systems by using the wavefunction (Ψ), which is a vector. For example :– |Ψ&gt; = a |0&gt; + b |1&gt; + c |2&gt; …… Here what we write in <strong>“ket”</strong> notation (|&gt;) are the possible quantum states and their coefficients are the probabilities for the particular states; these coefficients are complex numbers.</p>
      </p>
      <a class="project-link" href="/2020-09-09-Decoherence-in-Quantum-Systems.md/">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="skate" src="/assets/img/skate.jpg" />
    </div>
    <div class="contents">
      <h3> Fundamental Forces of Nature </h3>
      <p>
        <p>
          <strong>Forces</strong> or <strong>interactions</strong> are necessary for any change that takes place. From preventing atoms from collapsing to stabilising a star through fusion reactions, everything is a consequence of interactions between particles. In order for two particles to interact with each other there must be some “driving” or “mediating” particle that carries out the interaction. Such mediating particles are known as force carriers or <strong>bosons</strong>     
        </p>
      </p>
      <a class="project-link" href="/2021-05-29-Fundamental-Forces-of-Nature.md/">Check it out</a>
    </div>
  </div>
  <div class="user-projects"> 
    <div class="images-right"> 
      <img alt="skate" src="/assets/img/QE.jpg" width="300" height="400"/> 
    </div> 
    <div class="contents"> 
      <h3> Spooky Action at a Distance </h3> 
      <p> 
        <p>“Quantum Entanglement” or as described by our friend Albert :- “spooky action at a distance” is a phenomenon in which the quantum states of two or more particles have to be described with reference to each other.</p> 
      </p> 
      <a class="project-link" href="/2020-09-11-Spooky-Action-at-a-Distance.md/">Check it out</a> 
    </div> 
  </div>
  <div class="user-projects"> 
    <div class="images-right"> 
      <img alt="skate" src="/assets/img/skate.jpg" /> 
    </div> 
    <div class="contents"> 
      <h3> The Fourier Transform </h3> 
      <p> 
        <p>In this article I will be giving you an insight into the Fourier Transform. We’ll be talking about the definition of The Fourier Transform later, first let’s talk about periodicity. Now what exactly is periodicity, it is the tendency of a particular phenomena to repeat at regular intervals. Periodicity is associated with symmetry.</p>
      </p> 
      <a class="project-link" href="/2020-11-29-the-fourier-transform.md/">Check it out</a> 
    </div> 
  </div>

  <div>
    <p>
      ------------------------------------------------------------------------------------------------------------------------------------------------------------
    </p>
    <p>
      <h3><p>If you want to enjoy yourself, don't forget to see my blog</p></h3>
    </p>
    <a class="project-link" href="blog.html">Blog</a>
  </div>