<!DOCTYPE html>
<html lang="en">
      {{ content }}
  {% include head.html %}
  <body>
    <style>
      a {
        text-decoration: none;
      }
    </style>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include goup.html %}
      {% include footer.html %}
  </body>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</html>

